@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// Font Variables

$red: #af0401;
$darkRed: #710200;

$c2: #e6e6e6;
$c3: #00ffcb;

$grey: #f5f5f5;
$grey2: #7d8286;
$grey3: #4f4647;

$red1: #ff3e40;
$red2: #872c2b;

$secondaryGradient: #2d314e;

$accent1: #ff88b0;
$accent2: #febf7b;
// Type
$type1: 42px;
$type2: 24px;
$type3: 21px;
$type4: 18px;

$iconSize: 42px;

$grad1: #f7f7f7;
$grad2: #D9D9D9;

$gridColour: #CCCCCC;


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	body {
		overflow: hidden;
		background: $grad2;
	}
}

#container {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;

	font-family: 'Roboto Mono', sans-serif;
	height: 100vh;
	overflow: hidden;
	$modalWidth: 400px;
	$modalHeight: 180px;
	.modal {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 20;
		position: absolute;
	}
	.download-modal {
		border-radius: 6px;
		position: absolute;
		background-color: $grey;
		padding: 5px;
		left: 50%;
		top: 50%; 
		margin-left: -$modalWidth/2;
		margin-top:  -$modalHeight/2;
		width: $modalWidth;
		height: auto;
		z-index: 22;
		-webkit-user-select: text;  /* Chrome all / Safari all */
		-moz-user-select: text;     /* Firefox all */
		-ms-user-select: text;      /* IE 10+ */
		user-select: text;
		.modal-contents {
			width: 100%;
			display: inline-block;
			padding: 10px 20px 24px 20px;
			p {
				margin: auto;
				font-size: $type3;
				font-family: 'Roboto Mono', sans-serif;
			}
			input {
				display: inline-block;
				margin-top: 20px;
				width: 100%;
				height: 35px;
				font-size: $type3;
				font-family: 'Roboto Mono', sans-serif;
			}
			button {
				width: 100%;
				background-color: $grey2;
				height: 35px;
				margin-top: 20px;
				float: left;
				font-size: $type3;
				font-family: 'Roboto Mono', sans-serif;
				&.active {
				    background-color: $red;
				    cursor: pointer;
				}
			    border: none;
			    color: white;
			    font-size: $type4;
				cursor: default;
				text-align: center;
			}
		}
	}
	.expand-controls {
		position: absolute;
		top: 0px;
		right: 0px;
		box-shadow: 5px 0 38px 0 rgba(0,0,0, 0.5);
	}
	$controlPanelWidth: 300px;
	.control-panel {
		display: inline-block;
		background-color: $grey;
		color: $red;
		position: absolute;
		right: 0;
		bottom: 0;
		width: $controlPanelWidth;
		height: 100vh;
		z-index: 10;
		box-shadow: 5px 0 38px 0 rgba(0,0,0, 0.5);
		.control-panel-header {
			font-weight: 700;
			color: $red;
			display:inline-block;
			width: 100%;
			border-bottom: 4px solid $red;
			background-color: rgba(255,255,255, 0.8);
			.logo {
				display: inline-block;
				text-align: center;
				font-family: 'Rubik', sans-serif;
				width: 100%;
				padding: 30px 0;
				.logo-main {
					font-size: 92px;
					float:left;
					width: 100%;
					margin: -18px 0px;
				}
				.logo-sub {
					font-weight: 500;
					font-size: 27px;
					float:left;
					margin: 4px 0 0 3px;
					width: 100%;					
				}
			}
		}
		.close-controls {
			position: absolute;
			width: 50px;
			height: 50px;
			right: $controlPanelWidth - 25px;
			top: 150px;
			background-color: $red;
			text-align: center;
			display: grid;
		    -ms-transform: rotate(45deg); /* IE 9 */
		    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		    transform: rotate(45deg);
		    cursor: pointer;
		    z-index: 50;
		    &:hover {
		    	background-color: $darkRed;
		    }
			i {
				color: white;
				font-size: $iconSize;
				margin: auto 0px;
				margin: -10px -20px 10px 10px;

			    -ms-transform: rotate(-45deg); /* IE 9 */
			    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
			    transform: rotate(-45deg);
			}
		}
		.controls {
		    display: inline-block;
		    width: 100%;
		    padding: 8px;
			.selected-font-container {
				display: inline-block;
				text-align: center;
				margin: 30px auto 0 auto;
				.selected-font {
					$selectedFontMargin: 8px;
					display:inline-block;
					position: relative;
					float: left;
					margin: $selectedFontMargin;
					background-color: rgba(255,255,255,0.6);
					border-radius: 6px;
					font-size: $type3;
					width: 125px;
					height: 125px;
					box-shadow: 0 0 0px 3px white;
					cursor: default;
					&.active-font {
						&:hover {
							box-shadow: 0 0 0px 3px $grey2;
							.randomise-font {
								visibility: initial;
								display: inline;
								color: rgba(0, 0, 0, 0.05);
								&:hover {
									color: rgba(0, 0, 0, 0.1);
								}
								&:active {
									color: rgba(0, 0, 0, 0.2);
								}
							}
							.delete-font {
								visibility: initial;
								display: inline;
							}
							&.empty {
								.delete-font {
									visibility: hidden;
									pointer-events: visible;
									display: none;
								}
							}
						}
					}
					.randomise-font {
						visibility: hidden;
						pointer-events: visible;
						display: none;
						position:absolute;
					    right: 12px;
					    top: 12px;
						i {
							font-size: 100px;
						}
					}
					.delete-font {
						cursor: pointer;
						visibility: hidden;
						display: none;
						background-color: $grey2;
						border-radius: 6px 0 6px 0;
						width: 26px;
						height: 26px;
						padding-top: 1px;
						position:absolute;
						left: -1px;
						top: -1px;
						pointer-events: visible;
						z-index: 5;
						i {
							margin-top: -1px;
							color: white;
						}
					}
					.font-glyph {
					    position: absolute;
					    left: -55px;
					    top: -28px;
					    pointer-events: none;
					}
				}
			}
			.actions {
				display: inline-block;
				position: absolute;
				bottom: 0;
				right:0;
				width: 100%;
				border-top: 4px solid $red;
				.random {
					float: left;
					height: 100px;
				    &:hover {
				        background-color:white;
				    }
				    font-size: $type3;
					width: 50%;
					cursor: pointer;
					text-align: center;
					padding: 20px 0;
				}
				.download {
					float: left;
					height: 100px;
				    background-color: $grey2;
					cursor: not-allowed;
				    color: white;
				    font-size: $type3;
					width: 50%;
					text-align: center;
					padding: 32px 0;
				    &.active {
				    	background-color: $red;
						cursor: pointer;
					    &:hover {
					    	background-color: $darkRed;
					    }
				    }
				}
			}
		}
	}
	.expand-controls {
		position: absolute;
		width: 50px;
		height: 50px;
		right: -25px;
		top: 150px;
		background-color: $red;
		text-align: center;
		display: grid;
	    -ms-transform: rotate(45deg); /* IE 9 */
	    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	    transform: rotate(45deg);
	    cursor: pointer;
		z-index: 50;
	    &:hover {
	    	background-color: $darkRed;
	    }
		i {
			color: white;
			font-size: $iconSize;
			margin: 20px 20px 0px -10px;
		    -ms-transform: rotate(-45deg); /* IE 9 */
		    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		    transform: rotate(-45deg);
		}
	}
	#manifold-wrapper {
		width: 100%;
		height: 100vh;
		#manifold {
			display: inline-block;
			overflow: visible;
			position: absolute; 
			cursor: move;
			.manifold-item { // this is an svg
				fill: none;
				cursor: pointer;
				&.max-selected {
					cursor: not-allowed;
				}
				.grid {
					stroke: $gridColour;
					stroke-width: 2px;
				}
				circle {
					pointer-events: visible;
				    &:hover {
				        fill: rgba(255,255,255,0.2);
				    }
			    }
			    text {
			    	font-family: 'Rubik';
			    	fill: black;
			    	font-size: $type1 * 1.5;
			    	font-weight: bolder;
			    	pointer-events: none;
			    }
			    &.selected {
			    	circle {
						fill: rgba(255,255,255,0.4);
			    	}
			    	text {
			    		fill: $red;
			    	}
			    }
			}
		}
	}
}

